/* 1. use flexbox to make the boxes centered in a column on the page */
/* 2. use flexbox to make the boxes in a column on the right side of the page*/
/* 3. use flexbox to reverse the order of the boxes in a row in the vertical center of the page. 
	All of the items should have even space around them.*/
	
#parent {


}

/* you do not need to modify below */
.child {
    display: block;
    width: 100px;
    height: 100px;
    border: 5px solid black;
    margin: 10px 0;
}

.red {
    background-color: red;
}

.blue {
    background-color: blue;
}

.green {
    background-color: green;
}